[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule ".emacs.d/popup-el"]
	path = .emacs.d/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/yaml-mode"]
	path = .emacs.d/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/scss-mode"]
	path = .emacs.d/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule ".emacs.d/rvm.el"]
	path = .emacs.d/rvm.el
	url = git://github.com/senny/rvm.el.git
[submodule ".emacs.d/s.el"]
	path = .emacs.d/s.el
	url = git://github.com/magnars/s.el.git
[submodule ".emacs.d/dash.el"]
	path = .emacs.d/dash.el
	url = git://github.com/magnars/dash.el.git
[submodule ".emacs.d/projectile"]
	path = .emacs.d/projectile
	url = https://github.com/zhzhxtrrk/projectile.git
[submodule ".emacs.d/lua-mode"]
	path = .emacs.d/lua-mode
	url = https://github.com/immerrr/lua-mode.git
