[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule ".emacs.d/popup-el"]
	path = .emacs.d/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/zhzhxtrrk/Command-T.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = git://github.com/jgoulah/cocoa.vim.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".emacs.d/yaml-mode"]
	path = .emacs.d/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/coffee-mode"]
	path = .emacs.d/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/scss-mode"]
	path = .emacs.d/scss-mode
	url = git://github.com/antonj/scss-mode.git
