[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".emacs.d/yasnippet"]
	path = .emacs.d/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".emacs.d/multi-web-mode"]
	path = .emacs.d/multi-web-mode
	url = git://github.com/fgallina/multi-web-mode.git
[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule ".emacs.d/popup-el"]
	path = .emacs.d/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/clojure-mode"]
	path = .emacs.d/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/nrepl"]
	path = .emacs.d/nrepl
	url = git://github.com/kingtim/nrepl.el.git
